<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/"> Home </a>
        <a href="/realtimeproducts"> Real Time Products </a>
        <a href="/chats"> Chats from users </a>
    </nav>
        {{{body}}} {{!--  aca se renderizan las vistas --}}
        
    <footer></footer>
    
</body>

</html>